page-read-one-ticket {

    h3{
        color: #008B8B;
        text-align: center;
      }
    h4{
        color: #008B8B;
        padding-top: 2%;
    }
    h2{
        color: #5F9EA0;
    }
    p{
        text-align: end;
    }
}
